Hi, 

Here is a table containing information from a P2P messaging application. The table contains send/receive message data for the application's users. The structure is as follows:


    

Table name: `user_messaging`

| date                                     |
|------------------------------------------|
| sender_id (#id of the message sender)    |
| receiver_id (#id of the message receiver |     
    





Question: Using Python, calculate what fraction of senders sent messages to at least 9 unique people on March 1, 2018.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./datasets/active_user.csv")
df.head()

         date  sender_id  receiver_id
0  2018-03-01          5            2
1  2018-03-01          8            6
2  2018-03-01          1            2
3  2018-03-01          4            8
4  2018-03-01          2            7

In [3]:
first_march = df[df["date"]=="2018-03-01"]
first_march

           date  sender_id  receiver_id
0    2018-03-01          5            2
1    2018-03-01          8            6
2    2018-03-01          1            2
3    2018-03-01          4            8
4    2018-03-01          2            7
..          ...        ...          ...
454  2018-03-01         10            7
455  2018-03-01          4            6
456  2018-03-01          1            2
457  2018-03-01          3            2
458  2018-03-01          9            2

[459 rows x 3 columns]

In [4]:
total_senders = first_march.sender_id.nunique()
total_senders

10

In [18]:
count_unqiue_receivers = first_march.groupby("sender_id")["receiver_id"].nunique()
count_unqiue_receivers<9

sender_id
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
Name: receiver_id, dtype: bool